body{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
}

a.item{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
}

button.ui.button{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

div.item{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
}

div.text{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
}

h1.ui.center.aligned.header{
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: .8em;
    margin-top: .8em;
}

img.ui.large.image.home{
    cursor: pointer;
    transition: transform .2s;
}

img.ui.large.image.home:hover{
        transform: scale(1.1);
}

img.ui.medium.image.home{
    cursor: pointer;
    transition: transform .2s;
}

img.ui.medium.image:hover.home{
    transform: scale(1.2);
}

.ui.form .field>label{
    font-weight: 200;
    font-size: 18px;
}

.ui.modal>.header{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;

}






